@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --accent-color: #85c1e4;
    --button-color: #b3e3ff;
    --border-color: #383838;
    --shadow-color: #a3a3a3;
    --divider-color: #bbb;
}

body {
    background-color: #eee;
}

.container {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 300px 1fr;
    background-color: #eee;
    min-height: 100vh;
}

header {
    background-color: var(--accent-color);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 3;
    border-bottom: 1px solid var(--border-color);
    color: #fff;
    text-shadow: 2px 2px var(--border-color);
}

.sidebar {
    background-color: #fff;
    padding: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-right: 1px solid var(--border-color);
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px;
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#create-project-dialog {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 30px;
    width: clamp(200px, 300px, 400px);
    height: 250px;
    align-self: center;
    justify-self: center;
}

#create-project-dialog[open] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#close-btn {
    border: none;
    position: absolute;
    top: 10px;
    right: 17px;
    background-color: #fff;
    font-size: 1.2rem;
}

.project-list {
    display: grid;
    gap: 5px;
}

.inbox-item, .project-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid var(--shadow-color);
}

.project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button {
    cursor: pointer;
}

.create-project-btn, .delete-project-btn {
    border: 1px solid var(--border-color); 
    border-radius: 7px;
    padding: 8px 0px;
    background-color: var(--button-color);
    color: #fff;
    text-shadow: 1px 1px var(--shadow-color);
    font-size: 0.8rem;
    width: 100px;
    margin-left: 10px;
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.add-todo {
    list-style-type: none;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid var(--shadow-color);
    display: flex;
    gap: 5px;
    font-size: 1rem;
    flex-direction: row;
}

.todo-plus {
    cursor: pointer;
    width: 20px;
}

input { 
    border: none;
    font-size: 1rem;
}

input:focus {
    outline: none;
}

.todo-item {
    list-style-type: none;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid var(--shadow-color);
    display: flex;
    gap: 5px;
    font-size: 1rem;
    flex-direction: column;
}

.todo-details {
    color: var(--border-color);
    font-size: 0.9rem;
}

.general-todo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 22px;
}

.todo-delete {
    border: none;
    background-color: #fff;
    font-size: 1.6rem;
    position: absolute;
    right: 55px;
}

