@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --accent-color: #85c1e4;
    --button-color: #b3e3ff;
    --border-color: #383838;
    --shadow-color: #a3a3a3;
    --divider-color: #bbb;
}

body {
    background-color: #eee;
}

.container {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 300px 1fr;
    background-color: #eee;
    min-height: 100vh;
}

header {
    background-color: var(--accent-color);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 3;
    border-bottom: 1px solid var(--border-color);
    color: #fff;
    text-shadow: 2px 2px var(--border-color);
}

.sidebar {
    background-color: #fff;
    padding: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-right: 1px solid var(--border-color);
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px;
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#create-project-dialog, #edit-todo-dialog {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 30px;
    width: clamp(300px, 400px, 500px);
    height: 300px;
    align-self: center;
    justify-self: center;
    font-style: normal;
}

#create-project-dialog[open], #edit-todo-dialog[open] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-input-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

label {
    font-size: 0.9rem;
}

input, textarea { 
    border: none;
    font-size: 1rem;
    width: 100%;
}

input:focus, textarea:focus {
    outline: none;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#create-project-form, #edit-todo-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}

#edit-todo-form {
    justify-content: space-between;
}

#create-project-dialog label, #edit-todo-form label {
    width: 80px;
    align-self: center;
    padding: 0 5px;
}

#edit-todo-form .priority-radio-item label {
    width: auto;
}

#create-project-dialog input, #create-project-dialog textarea, #edit-todo-form input, #edit-todo-form textarea {
    background-color: #e7e7e773;
    border-radius: 5px;
    padding: 6px;
    font-size: 0.9rem;
    width: 97%;
}

#edit-todo-form input[type="radio"] {
    width: 12px;
}

#edit-todo-form textarea {
    height: 70px;
}

.duedate-container, .priority-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.priority-radio-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.priority-radio-item {
    display: flex;
    flex-direction: row;
}

.project-list {
    display: grid;
    gap: 5px;
}

.inbox-item, .project-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid var(--shadow-color);
}

.project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button {
    cursor: pointer;
}

#close-btn {
    border: none;
    position: absolute;
    top: 15px;
    right: 20px;
    background-color: #fff;
    font-size: 1.5rem;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-self: end;
    justify-content: flex-end;
    margin-top: auto;
}

.create-project-btn, .delete-project-btn, .edit-todo-btn, .submit-project-btn, .submit-todo-btn, .delete-todo-btn, .small-delete-todo-btn, .small-edit-todo-btn {
    background-color: var(--button-color);
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px var(--border-color);
    border: 1px solid var(--border-color); 
    border-radius: 7px;
    font-size: 0.8rem;
}

.create-project-btn, .delete-project-btn, .submit-project-btn, #edit-todo-form .submit-todo-btn, #edit-todo-form .delete-todo-btn {
    width: 100px;
    padding: 8px 0px;
    margin-left: 10px;
}

.delete-todo-btn, .small-delete-todo-btn {
    background-color: var(--shadow-color);
}

.todo-details .button-container {
    gap: 5px;
}

.small-delete-todo-btn, .small-edit-todo-btn {
    width: 55px;
    padding: 6px 0px;
    margin: 5px 0;
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.add-todo {
    list-style-type: none;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid var(--shadow-color);
    display: flex;
    gap: 5px;
    font-size: 1rem;
    flex-direction: row;
}

.todo-chevron, .todo-plus {
    cursor: pointer;
    width: 20px;
}

.todo-item {
    list-style-type: none;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid var(--shadow-color);
    display: flex;
    gap: 10px;
    font-size: 1rem;
    flex-direction: column;
}

.todo-details {
    color: var(--border-color);
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
}

.todo-details p {
    white-space: pre-wrap;
}

.general-todo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.todo-title-container, .priority-duedate-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.todo-priority {
    border: 1px solid var(--border-color);
    color: var(--border-color);
    border-radius: 20px;
    padding: 4px 7px;
    font-size: 0.6rem;
}

.todo-duedate {
    color: var(--accent-color);
    font-size: 0.8rem;
}
